<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!--  <meta charset="UTF-8">-->
<!--  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--  <script type="application/javascript" src="https://unpkg.com/@babel/standalone/babel.min.js"></script>-->

<!--  <link rel="stylesheet" type="text/css" href="bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css">-->
  <title>Best Books</title>
</head>
<body>
<header>

  <meta charset="UTF-8">
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="application/javascript" src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <link rel="stylesheet" type="text/css" href="bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">Best Books</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login<span
              class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Profile<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout<span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<body>
</html>