<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Best Books</title>
</head>
<body>
<header th:insert="header.html :: header"></header>

<div id="content" class="container-fluid">
  <div id="books-view">
    <nav class="navbar navbar-light bg-light">
      <form class="mx-2 my-auto d-inline w-100">
        <div class="input-group">
          <input id="search" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" v-on:click="fetch">Search</button>
        </div>
      </form>
    </nav>
    <div id="center-panel">
      <ul class="list-unstyled">
        <li class="table-hover pointer-event" v-for="book in books" v-on:click="openBook($event, book.id)">
          <div class="container py-3">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <img :src="book.cover" class="w-50">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <h4 class="card-title">{{book.name}}</h4>
                    <p class="card-text">{{book.description}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>
    </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  new Vue({
        el: "#books-view",
        data: {
          books: []
        },
        methods: {
          fetch: function (event) {
            event.preventDefault();
            let searchParams = document.getElementById("search").value;
            let self = this;
            fetchBooks();

            async function fetchBooks() {
              const response = await fetch("api/books?query=" + searchParams);
              const json = await response.json();
              self.books = json;
              return json;
            }
          },
          openBook: function(event, id) {
            window.location.href = "/books/" + id;
          }
        }
      }
  )

</script>

<script></script>
</body>
</html>